.TextColorController {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.ColorPicker {
    /* text-align: center; */
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.TextColorLabel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80px;
    height: 30px; 
}