.BackgroundColorController {
    display: flex;
    position: relative;
}

.ColorPicker {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.TextColorLabel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 140px;
    height: 30px; 
}
