.ColorPicker {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.ColorPicker:focus {
    border: 1px solid #ffe000;
}

.ColorPickerIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.SketchPicker {
    position: absolute;
    top: 31px;
    left: 0px;
    z-index: 100;
}