.ItemLable {
    display: inline-block;
    height: 30px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgb(41, 182, 100);
    box-sizing: border-box;
}

.ItemLable input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}


.ItemLable span {
    position: relative;
    top: 5px;
}

.ItemChecked {
    background-color:rgb(41, 182, 100);
}

